:root{
    --main--color: #5907dd;
    --color-white: #FFFFFF;
}
body {
    background-image: linear-gradient(to left bottom, #d9a78b, #d68f84, #cc7785, #b9648e, #99589a, #84549d, #6a529f, #4a50a0, #474e9b, #444d96, #414b91, #3e498c);
    min-height: 110vh;
    font-family:Arial, Helvetica, sans-serif;
    scrollbar-shadow-color:#5907dd;
}
img{
    width: 30%;
}
a{
    color: var(--color-white);
    text-decoration: none;
}
a:hover {
    color: var(--main--color);
}
section {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}
.title{
    font-size: 25pt;
    color: var(--color-white);
}
.sub-title{
    font-size: 18pt;
    color: var(--color-white);
}
.text-buttom{
    font-size: 15pt;
}
.inner-link {
    background-color: var(--main--color);
    padding: 20px;
    transition: 0.1s ease-in;
    border: 2px solid var(--main--color);
    border-radius: 35px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.inner-link:hover {
    background-color: transparent;
}

.links-section {
    margin-top: 30px;
}
.sub-sec {
    margin: 15px 0px;
}
@media screen and (max-width: 720px) {
    section {
        width: 100%;
    }
}
.footer-create{
    color: #bdbdbd;
    margin-top: 10%;
    text-align: center;
}
